@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    gap: 23px;
}

h1 {
    color: white;
    font-size: 123px;
    text-shadow:0 0 5px #0FFF50, 0 0 10px #0FFF50, 0 0 20px #0FFF50, 0 0 40px #0FFF50;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    margin-bottom: 78px;
}

a {
    font-size: 45px;
    width: 33%;
    height: 15%;
    position: relative;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0; /* Remove padding to avoid misalignment */
    margin: 20px 0;
    text-align: center;
    color: #0FFF50;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}

a:hover{
    background: #0FFF50;
    color: #ffffff;
    box-shadow: 0 0 5px #0FFF50,
                0 0 25px #0FFF50,
                0 0 50px #0FFF50,
                0 0 200px #0FFF50;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

a:nth-child(2){
    filter: hue-rotate(90deg);
}
a:nth-child(3){
    filter: hue-rotate(135deg);
}
a:nth-child(4){
    filter: hue-rotate(180deg);
}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#0FFF50);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#0FFF50);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#0FFF50);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#0FFF50);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background: rgb(20, 31, 63);
}

.game-details{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #212837;
}

.play-board .food{
    background: red;
}
.play-board .head{
    background: #0FFF50;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    color: #B8C6DC;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: calc(100% / 4.075);
    border-right: 1px solid #171b26;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
    }
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}